.section{
  background: #f8f8f8;
  height: 100%;
  padding-top: 3%;
}
.signupContent{
  background: white;
  border-radius: 18px;
  border: none;
  -webkit-box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.39);
  -moz-box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.39);
  box-shadow: 0px 10px 13px -6px rgba(0,0,0,0.39);
  width: 93%;
  margin: 0 auto;
}
.container{
  padding: 5% 8% 0% 8%;
  padding: 0;
  margin: 0 auto;
}
.imageDiv{
  text-align: center;
  margin-top: 25%;
}
.icon{
  padding-top: 2%;
  margin-left: 1%;
  position: absolute;
  font-size: 14px;
}
input{
  border: none;
  border-bottom: 1px solid #999;
  border-radius: 0;
  padding-left: 10%;
  font-family: 'Poppins', sans-serif;
  transition: .5s ease;
}

input:hover , input:focus{
  background-color: none;
  box-shadow: none;
  outline: none;
  border-bottom: 1px solid black;

}

input:hover::placeholder , input:focus::placeholder{
  color: black;
}

.form-group {
  display: flex;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  padding-left: 3%;
  color:  #999;
  font-size: 14px;
  transition: .5s ease;
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  padding-left: 3%;
  color:  #999;
  font-size: 14px;
  transition: .5s ease;
}

::-ms-input-placeholder { /* Microsoft Edge */
  padding-left: 3%;
  color:  #999;
  font-size: 14px;
  transition: .5s ease;
}
.SignTxt{
  font-family: 'Poppins', sans-serif;
  padding-bottom: 15%;
  font-weight: 700;
  font-size: 40px;
}
.loginBtn{
  background: #6dabe4;
  color: #fff;
  border: none;
  padding: 15px 39px;
  border-radius: 5px;
  -moz-border-radius: 5px;
  -webkit-border-radius: 5px;
  -o-border-radius: 5px;
  -ms-border-radius: 5px;
  margin-top: 19%;
  margin-bottom: 8%;
  cursor: pointer;
  font-family: 'Poppins', sans-serif;
}
.loginBtn:hover{
  background: #4292dc;
}
.AlreadyTxt{
  padding-top: 7%;
  font-family: 'Poppins', sans-serif;
  text-decoration-line: underline;
  cursor: pointer;
  outline: none;
}
.signUpImg{
    width: 65%;
}

.HelloDiv{
  text-align: center;
  padding-top: 39%;
}
.HelloDiv h1 , .HelloDiv h3{
  font-family: 'Poppins', sans-serif;
}
/* ----------Responsive screens----------- */
@media only screen and (min-width: 1600px) {
   
  .signupContent {
    margin-left: -6%;
    width: 114%;
  }
  .SignTxt {
    font-size: 55px;
  }
  input{
    font-size: 25px;
  }
  ::placeholder { 
    font-size: 20px;
  }
  :-ms-input-placeholder { 
    font-size: 20px;
  }
  ::-ms-input-placeholder { 
    font-size: 20px;
  }
  .icon{
    font-size: 21px;
  }
  .loginBtn{
    font-size: 25px;
    padding: 19px 44px;
  }
  .imageDiv{
    margin-top: 14%;
  }
  .AlreadyTxt{
    font-size: 22px;
  }
  .HelloDiv h1 {
    font-size: 53px;
  }
  .HelloDiv h3{
    font-size: 40px;
  }

}
@media only screen and (min-width: 1800px) {
  .signupContent{
    margin-left: -11%;
    width: 124%;
  } 
}
@media only screen and (max-width: 767px){
  .section{
    padding-top: 9%;
  }
  .container{
    padding-bottom: 11%;
  }
  .LogBox{
    text-align: center;
  }
}