<div class="section">
    <div class="container">
       <div class="signupContent">
        
        <div class="row">
            <div class="col-md-6">
                  <div class="SignUpTxtPart" *ngIf="!RegBool">
                      <h2 class="SignTxt"> Sign Up</h2>
                    <form  class="needs-validation" #RegForm="ngForm" (ngSubmit)="RegForm.form.valid && onReg(RegForm)" novalidate>
                
                        <div class="form-group">

                             <label for="name"> <i class="fad fa-user-tie icon"></i> </label>
                            <input type="text" id="fullname" class="form-control" name="fullname" placeholder="Your Full Name"
                            [ngClass]="{ 'is-invalid': RegForm.submitted && fullname.invalid }" [(ngModel)]="NewModel.name" #fullname="ngModel"
                            required>
                            <div class="invalid-feedback" *ngIf="RegForm.submitted && fullname.invalid">
                            <p *ngIf="fullname.errors.required"> Invalid Name</p>
                            </div>
                        </div>
                        <div class="form-group">

                             <label for="username"> <i class="fad fa-user-tag icon"></i> </label> 
                            <input type="text" id="username" class="form-control" name="username" placeholder="Your User Name"
                            [ngClass]="{ 'is-invalid': RegForm.submitted && username.invalid }" [(ngModel)]="NewModel.username" #username="ngModel"
                            required>
                            <div class="invalid-feedback" *ngIf="RegForm.submitted && username.invalid">
                            <p *ngIf="username.errors.required"> Invalid Username</p>
                            </div>
                        </div>
            
                        <div class="form-group">

                             <label for="email"> <i class="fad fa-envelope icon"></i> </label>
                            <input type="email" class="form-control" name="email" id="email" aria-describedby="emailHelp" placeholder="Your Email"
                            pattern="^\w+([\.-]?\w+)*@\w+([\.-]?\w+)*(\.\w{2,3})+$"
                            [ngClass]="{ 'is-invalid': RegForm.submitted && email.invalid }" [(ngModel)]="NewModel.email" #email="ngModel" required>
                            <div class="invalid-feedback" *ngIf="RegForm.submitted && email.invalid">
                            <p *ngIf="email.errors"> Invalid Email</p>
                            </div>
                        </div>
            
                        <div class="form-group">

                          <label for="password"> <i class="fad fa-lock-alt icon"></i> </label> 
                            <input type="password" name="password" id="password" class="form-control"  placeholder="Your Password"
                            [ngClass]="{ 'is-invalid': RegForm.submitted && password.invalid }" [(ngModel)]="NewModel.password" #password="ngModel"
                            
                            required>
                            <div class="invalid-feedback" *ngIf="RegForm.submitted && password.invalid">
                            <p  *ngIf="password.errors.required"> Invalid Password</p>
                            </div>
                            
            
                        </div>
                        <div class="LogBox">
                            <input type="submit" class="loginBtn" value="Register"> 
                        </div>
                        
                        </form>
                  </div>
                  <!-- IF Register Successfully -->
                  <div class="HelloDiv" *ngIf="RegBool">
                      <h1> Hi  {{RegName}}</h1>
                      <h1>WELCOME ABOARD</h1>
                      <h3>we'll be in touch</h3>
                  </div>
            </div>
            <div class="col-md-6">
                <div class="imageDiv">
                    <img src="assets/signup-image.jpg" alt="SignUpImage" class="signUpImg">
                    <p class="AlreadyTxt"  [routerLink]="['/login']"> I am already member</p>
                </div>
                
            </div>
        </div>
           
       
        </div> 
    </div>
    
</div>
<ngx-loading [show]="loading" [config]="config" ></ngx-loading>