.SignInTxtPart{
  padding: 17% 30% 4% 0%;
}
.signInImg{
  width: 60.5%;
}
@media only screen and (min-width: 1600px) {
  .signInImg {
    width: 68%;
  }
}
@media only screen and (max-width: 767px){
  .SignInTxtPart {
    padding: 17% 6% 4% 7%;
  }
}

